Babel>=2.10.1
Pillow>=9.2.0
argcomplete>=2.0.0
dateparser>=1.1.1
filetype>=1.0.13
jsonpath-ng>=1.5.3
numpy>=1.21.6
pdfminer.six>=20220319
pikepdf>=5.1.2
pyamg>=4.2.3
scikit-image>=0.19.3
scikit-learn>=1.0.2
scipy>=1.7.3